.git
.github
.vscode
.idea

node_modules
.pnpm-store
.turbo

**/node_modules
**/.next
**/dist
**/out
**/build
**/coverage
**/test-results
**/playwright-report
**/blob-report
**/*.tsbuildinfo

.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

*.log
*.sql.gz
*.tar.gz
.DS_Store
Thumbs.db
