[Unit]
Description=Timer for Doplo PostgreSQL Automated Backup (Every 6 hours)

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00
Persistent=true
Unit=doplo-backup-db.service

[Install]
WantedBy=timers.target
